@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Rachelya';
  src: url(../fonts/rachelya.ttf);
}

@font-face {
  font-family: 'Poppins';
  src: url(../fonts/poppins.ttf);
}
